<div class="product_container">
  <div class="empty_container"></div>
  <div class="item_container">
    <img
      class="item_img"
      src="{{ itemService.item.imageUrl }}"
      alt="pizza image"
      height="270px"
    />
    <div class="item_name">{{ itemService.item.name }}</div>
    <div class="item_price">Rs. {{ itemService.item.price }}</div>
  </div>
  <div class="size_container">
    <h3 class="size_header" style="color: tomato">Size</h3>
    <hr class="hr_line" />
    <div class="row" *ngFor="let sizee of pizzaSizeService.sizes">
      <div class="col">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="exampleRadios"
            id="exampleRadios1"
            value="a"
            checked
          />
          <label class="form-check-label" for="exampleRadios1"> </label>
        </div>
        <!-- <hr /> -->
      </div>
      <div class="col-8">
        <h4>{{ sizee.size }}</h4>
        <!-- <hr /> -->
      </div>
      <div class="col">
        <span class="badge badge-warning">Rs. {{ sizee.price }}</span>
        <!-- <hr /> -->
      </div>
    </div>
  </div>
  <div class="empty_container"></div>

  <div class="toppings_container">
    <h3 class="size_header" style="color: tomato">Toppings</h3>
    <hr class="hr_line" />
    <div class="row" *ngFor="let toppingss of pizzaToppingService.toppings">
      <div class="col">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input-1" value="" />
          </label>
        </div>
      </div>
      <div class="col-8">
        <h4>{{ toppingss.topping }}</h4>
      </div>
      <div class="col">
        <span class="badge badge-warning">Rs. {{ toppingss.price }}</span>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="footer">
    <button
      type="button"
      class="btn btn-danger btn-lg btn-block"
      (onClick) = "openCart()"
    >
      Add to Cart
    </button>
  </div>
  <br />
</div>
