<div style="text-align: center;">
<h3>Cart</h3>

<table border="2px solid black" align="center">

  <tr>
    <th>S.No</th><th>Category</th>
  <th>Item Name</th>
  <th>Image</th>
  <th>Toppings</th>
  <th>Price</th></tr>
  <tr>
    <td>1.</td>
    <td>{{ Order[2][0].category }}</td>
    <td>{{ Order[2][0].name }}</td>
    <td><img src="{{ Order[2][0].imageUrl }}"></td>
    <td>{{ Order[5] }}</td>
    <td>RS. {{Order[6]}}</td>
  </tr>
  <tr *ngIf="length>8">
    <td>2.</td>
    <td>{{ Order[2][1].category }}</td>
    <td>{{ Order[2][1].name }}</td>
    <td><img src="{{ Order[2][1].imageUrl }}"></td>
    <td>{{ Order[12] }}</td>
    <td>RS. {{Order[13]}}</td>
  </tr>
  <tr *ngIf="length>14">
    <td>3.</td>
    <td>{{ Order[2][2].category }}</td>
    <td>{{ Order[2][2].name }}</td>
    <td><img src="{{ Order[2][2].imageUrl }}"></td>
    <td>{{ Order[12] }}</td>
    <td>RS. {{Order[13]}}</td>
  </tr>
</table>
<button class="btn btn-outline-info" routerLink="/payment"><span>Pay</span></button>
</div>
